<div class="page-layout carded right-sidenav" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center">

            <!-- CONTENT HEADER -->
            <div class="header white-fg p-24">
                <h2>AFFINE TECHNOLOGY</h2>
            </div>
            <!-- / CONTENT HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">
                    <button mat-icon-button class="sidenav-toggle"
                            fuseMatSidenavToggler="carded-right-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>

                    <span>Portfolio</span>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content p-24" fusePerfectScrollbar>

                    
                <div class="demo-content">

                    <img src="assets/images/family.jpg" alt="family" style="max-width: 640px; width: 100%;">
                
                    <h1>Portfolio of Corey Auger</h1>
                    <h4 class="secondary-text">Just a lot of weird stuff.</h4>
                
                    <p>
                        This site is yet another excuse for me to play with technology and organize things.
                    </p>
                
                    <blockquote>
                        <p>
                            Computer Science is no more about computers than astronomy is about telescopes.
                        </p>
                        <footer>
                            Edsger Dijkstra
                        </footer>
                    </blockquote>
                
                    <p>
                        This quote was on my original portfolio circa 1997.. so I decided to keep it around ;)
                    </p>                   
                                    
                </div>

                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" position="end" opened="true" mode="side"
                     fuseMatSidenavHelper="carded-right-sidenav" mat-is-locked-open="gt-md">

            <!-- SIDENAV HEADER -->
            <div class="header p-24" ngClass="mat-accent-bg" ngClass.gt-md="white-fg">
                <h2></h2>
            </div>
            <!-- / SIDENAV HEADER -->

            <!-- SIDENAV CONTENT -->
            <div class="content p-24" fusePerfectScrollbar>

                
                <div class="demo-sidenav">
                    <mat-list>
                        <h3 matSubheader>Links</h3>
                
                        <mat-divider></mat-divider>
                
                        <mat-list-item>
                            <a target="_blank" href="assets/Corey-Auger.pdf">Resume</a>
                        </mat-list-item>

                        <mat-divider></mat-divider>

                        <mat-list-item>
                            <a target="_blank" href="https://medium.com/@coreyauger">Blog</a>
                        </mat-list-item>
                
                        <mat-divider></mat-divider>
                
                        <mat-list-item>
                            <a target="_blank" href="https://github.com/coreyauger">Github</a>
                        </mat-list-item>
                
                        <mat-divider></mat-divider>
                
                        <mat-list-item>
                            <a target="_blank" href="https://twitter.com/coreyauger">Twitter</a>
                        </mat-list-item>
                
                        <mat-divider></mat-divider>
                
                        <mat-list-item>
                            <a target="_blank" href="https://www.linkedin.com/in/coreyauger/">LinkedIn</a>
                        </mat-list-item>
                
                        <mat-divider></mat-divider>
                
                        <mat-list-item>
                            <a target="_blank" href="https://www.pinterest.ca/coreynauger/">Pinterest</a>
                        </mat-list-item>
                        
                
                    </mat-list>
                </div>
                


            </div>
            <!-- / SIDENAV CONTENT -->

        </mat-sidenav>
        <!-- / SIDENAV -->

    </mat-sidenav-container>

</div>
